body {
    font-family: 'Goldman', Verdana, Tahoma;
    background-color:rgb(34, 32, 33);
    color:rgb(136, 139, 140);    
}

h1, h5 {
    text-align: center;
}gi

h2 {
   color: rgb(195, 156, 80); 
}

img {
    border: 3px solid rgb(195, 156, 80);
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li, a {
    color:rgb(176, 203, 212);
}

.box {
    background-color: rgb(45, 46, 62);
    margin-right: 850px;
    margin-left: 50px;
    padding-left: 15px;
}

.trybe {
    color:rgb(15, 163, 107);
}

#gray {
    color:rgb(136, 139, 140);  
}

#keyword {
    color:rgb(176, 203, 212);
    font-size: 18px;
    font-weight: 400;
}

.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}